In [4]:
import plotly.express as px
import pandas as pd

In [5]:
df_filmes = pd.read_csv('christmas_movies.csv')

In [7]:
df_filmes.head()

,title,rating,runtime,imdb_rating,meta_score,genre,release_year,description,director,stars,votes,gross,img_src,type
0,Love Actually,R,135.0,7.6,55.0,"Comedy, Drama, Romance",2003.0,Follows the lives of eight very different coup...,Richard Curtis,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...","517,283",$59.70M,https://m.media-amazon.com/images/M/MV5BNThkNj...,Movie
1,Home Alone,PG,103.0,7.7,63.0,"Comedy, Family",1990.0,"An eight-year-old troublemaker, mistakenly lef...",Chris Columbus,"Macaulay Culkin, Joe Pesci, Daniel Stern, John...","629,713",$285.76M,https://m.media-amazon.com/images/M/MV5BMzFkM2...,Movie
2,National Lampoon's Christmas Vacation,PG-13,97.0,7.5,49.0,Comedy,1989.0,The Griswold family's plans for a big family C...,Jeremiah S. Chechik,"Chevy Chase, Beverly D'Angelo, Juliette Lewis,...","213,196",$71.32M,https://m.media-amazon.com/images/M/MV5BMGZkMW...,Movie
3,Elf,PG,97.0,7.1,66.0,"Adventure, Comedy, Family",2003.0,"Raised as an oversized elf, Buddy travels from...",Jon Favreau,"Will Ferrell, James Caan, Bob Newhart, Zooey D...","300,546",$173.40M,https://m.media-amazon.com/images/M/MV5BMzUxNz...,Movie
4,How the Grinch Stole Christmas,PG,104.0,6.3,46.0,"Comedy, Family, Fantasy",2000.0,"On the outskirts of Whoville lives a green, re...",Ron Howard,"Jim Carrey, Taylor Momsen, Kelley, Jeffrey Tam...","280,898",$260.04M,https://m.media-amazon.com/images/M/MV5BNWNiNT...,Movie

In [8]:
df_filmes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         873 non-null    object
 1   rating        660 non-null    object
 2   runtime       832 non-null    float64
 3   imdb_rating   839 non-null    float64
 4   meta_score    100 non-null    float64
 5   genre         872 non-null    object
 6   release_year  862 non-null    float64
 7   description   873 non-null    object
 8   director      868 non-null    object
 9   stars         862 non-null    object
 10  votes         839 non-null    object
 11  gross         79 non-null     object
 12  img_src       873 non-null    object
 13  type          873 non-null    object
dtypes: float64(4), object(10)
memory usage: 95.6+ KB

# Limpeza dos Dados

### IMDB RATING

In [14]:
df_filmes_limpo = df_filmes[~df_filmes['imdb_rating'].isnull()]

In [15]:
df_filmes_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 839 entries, 0 to 867
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         839 non-null    object
 1   rating        658 non-null    object
 2   runtime       822 non-null    float64
 3   imdb_rating   839 non-null    float64
 4   meta_score    100 non-null    float64
 5   genre         838 non-null    object
 6   release_year  838 non-null    float64
 7   description   839 non-null    object
 8   director      838 non-null    object
 9   stars         837 non-null    object
 10  votes         839 non-null    object
 11  gross         79 non-null     object
 12  img_src       839 non-null    object
 13  type          839 non-null    object
dtypes: float64(4), object(10)
memory usage: 98.3+ KB

### Genre

In [16]:
df_filmes_limpo.genre.unique()

array(['Comedy, Drama, Romance', 'Comedy, Family', 'Comedy',
       'Adventure, Comedy, Family', 'Comedy, Family, Fantasy',
       'Animation, Comedy, Family', 'Action, Thriller',
       'Adventure, Comedy, Crime', 'Animation, Adventure, Comedy',
       'Drama, Family, Fantasy', 'Comedy, Drama, Family',
       'Comedy, Musical, Romance', 'Comedy, Drama, Fantasy',
       'Comedy, Family, Musical', 'Action, Comedy, Crime',
       'Comedy, Crime, Drama', 'Animation, Family, Fantasy',
       'Comedy, Romance', 'Comedy, Horror, Mystery',
       'Comedy, Fantasy, Horror', 'Drama, Romance',
       'Horror, Mystery, Thriller', 'Adventure, Family, Fantasy',
       'Comedy, Drama, Music', 'Biography, Comedy, Drama',
       'Action, Adventure, Comedy', 'Comedy, Crime, Family',
       'Drama, Fantasy', 'Animation, Comedy, Drama',
       'Action, Crime, Fantasy', 'Drama, Fantasy, Romance',
       'Animation, Short, Comedy', 'Animation, Action, Adventure',
       'Family, Fantasy, Musical', 'Comedy, Drama',
       'Fantasy, Horror, Mystery', 'Drama, Family, Romance',
       'Comedy, Family, Romance', 'Romance', 'Family, Fantasy, Music',
       'Adventure, Drama, Family', 'Adventure, Comedy', nan,
       'Comedy, Fantasy, Romance', 'Family, Fantasy', 'Drama',
       'Animation, Adventure, Family', 'Mystery',
       'Drama, Fantasy, Musical', 'Drama, Mystery, Romance',
       'Animation, Drama, Family', 'Family', 'Drama, Family',
       'Drama, Musical, Romance', 'Drama, Fantasy, Family',
       'Animation, Family, Musical', 'Family, Romance',
       'Crime, Drama, Romance', 'Drama, Music, Romance',
       'Comedy, Family, Music', 'Fantasy, Romance',
       'Drama, Romance, Sport', 'Comedy, Crime, Mystery',
       'Biography, Drama, War', 'Drama, Mystery',
       'Comedy, Drama, Mystery', 'Mystery, Romance', 'Romance, Western',
       'Comedy, Mystery, Romance', 'Family, Drama, Fantasy',
       'Animation, Short, Adventure', 'Comedy, History', 'Musical',
       'Crime, Film-Noir, Mystery', 'Family, Fantasy, Romance',
       'Adventure, Comedy, Drama', 'Comedy, Crime, Music',
       'Drama, Family, Musical', 'Drama, Western',
       'Crime, Drama, Film-Noir', 'Biography, Drama', 'Music, Romance',
       'Comedy, Horror, Thriller', 'Animation, Comedy, Fantasy',
       'Short, Family', 'Comedy, Fantasy', 'Comedy, Horror',
       'Comedy, Crime, Romance', 'Horror', 'Drama, Music',
       'Animation, Family', 'Comedy, Drama, Musical',
       'Family, Music, Romance', 'Family, Mystery, Sport',
       'Film-Noir, Mystery', 'Biography, Drama, Family',
       'Comedy, Crime, Film-Noir', 'Short, Comedy, Musical',
       'Animation, Short, Family', 'Adventure, Family, Musical',
       'Short, Comedy, Romance', 'Adventure, Romance',
       'Short, Family, Fantasy', 'Comedy, Horror, Sci-Fi',
       'Music, Sci-Fi', 'Short, Drama', 'Action, Drama, Fantasy', 'Music',
       'Animation, Comedy', 'Drama, History, War',
       'Drama, Mystery, Thriller', 'Short, Comedy, Drama',
       'Animation, Short', 'Musical, Sci-Fi', 'Comedy, Crime',
       'Short, Comedy, Family'], dtype=object)